<div class="play-list-body">
    <ul class="play-list-table-header">
        <li>Nombre <i (click)="ordenar('name')" class="uil uil-arrow-break list-order"></i></li>
        <li>álbum <i (click)="ordenar('album')" class="uil uil-arrow-break list-order"></i></li>
        <li>fecha incorporación</li>
        <li><i class="uil uil-clock-eight"></i></li>
    </ul>
    <ul class="play-list-rows" *ngFor="let cancion of canciones | ordenar:condicion:estado">
        <li class="track-name">
            <ng-container *ngTemplateOutlet="coverSection;context:{track:cancion}"></ng-container>
        </li>
        <li class="track-name-opacity">
           ♥ {{cancion.album}}
        </li>
        <li class="track-name-opacity">
            {{cancion.album}}
        </li>
        <li class="track-name-opacity">
            {{cancion.album}}
        </li>

    </ul>
</div>

<!--template del cover-->
<ng-template #coverSection let-track="track">

    <div class="cover-section">
        <img imgfail appImgBroken class="cover-track" [src]="track.cover" [alt]="track.name">
        <div class="cover-info">
            <div class="name-track">{{track.name}}</div>
            <div class="name-track-details">{{track.artist.name}}</div>
        </div>
    </div>

</ng-template>